.full-avatar {
  margin: 7rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15rem;

  .full-avatar1{
    display: flex;
    justify-content: end;
    margin: 0;

    .top{
      width: 70%;
      position: relative;
      // margin: 0 auto;

      img{
        width: 100%;
      }

    }

    .bottom{
      width: 50%;
      position: absolute;
      top: 95%;
      left: 17%;
      img{
        width: 100%;
      }
    }
  }

  .full-avatar2{
    padding: 0;
    margin-right: 12rem;
    // margin-right: auto;
    // text-align: center;
    

    button{
      // margin: 0;
      background-color: black;
      color: white;
      width: 70%;
      padding: 0.7rem 1rem;
      border-radius: 3rem;
      margin-bottom: 1rem;

      img{
        margin-right: 0.5rem;
      }
    }

  }

}
