.change-password {
  margin: 10rem auto;

.text{
  h2{
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
  }
}


.change {
  margin: 0 auto;
  border-radius: 2rem;
  background-color: #4C4C4C;
  color: white;
  padding: 2rem 0;
  position: relative;
  padding-bottom: 4rem;
  // text-align: center;
  // margin: auto;
  width: 50%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // align-content: center;

  .input-container {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 4rem auto;
    margin: 2rem auto;
    // align-items: center;
    // justify-content: center;
    // align-content: center;
    // margin: 20px;

    .name-label {
      font-size: 1.3rem;
      font-weight: bold;
      margin: 0.5rem;
    }

    .name-input {
      padding: 1rem;
      font-size: 1.2rem;
      border: none;
      border-radius: 50px;
      background-color: white;
      color: #000;

      &::placeholder {
        color: #b9b7b7;
        font-size: 1.1rem;
        font-weight: 500;
      }

      &:focus {
        outline: none;
      }
    }
  }

}

.submit{
  background-color: black;
  color: white;
  text-align: center;
  position: absolute;
  top: 117%;
  left: 41%;
  padding: 0.5rem 6rem;
  border-radius: 2rem;

  p{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    
  }
}

}